---
import OurStoryIntro from "./OurStoryIntro.astro";
import OurStoryAdventures from "./OurStoryAdventures.astro";
import OurStoryPets from "./OurStoryPets.astro";
---

<section
  id="our-story"
  class="relative flex items-center flex-col pt-10 pb-0 mb-10"
>
  <div class="relative py-8 z-10 text-center">
    <h2 class="text-6xl uppercase">Nuestra historia</h2>
  </div>

  <OurStoryIntro />
  <OurStoryAdventures />
  <OurStoryPets />
</section>
