---
import { Image } from "astro:assets";
import filipinasImage from "../../../assets/img/aventuras/filipinas.jpg";
import italiaImage from "../../../assets/img/aventuras/italia.jpg";
import egiptoImage from "../../../assets/img/aventuras/egipto.jpg";
import japonImage from "../../../assets/img/aventuras/japon.jpg";
---

<>
  <div
    class="adventures-section bg-pink-light my-10 flex items-center justify-center w-full py-10 md:py-20"
  >
    <div class="content-wrapper flex flex-col md:flex-row">
      <div class="w-full md:w-1/2">
        <h3 class="text-7xl max-w-[500px] tracking-wide leading-[5.5rem]">
          <span class="text-gold-500">Muchas</span> Aventuras
        </h3>
      </div>
      <div
        class="adventures overflow-hidden relative w-full md:w-1/2 font-arizonia text-6xl text-center text-gold-500 flex flex-nowrap [&>div]:flex-shrink-0 [&>div]:w-full [&>div>h4]:pb-4"
      >
        <div>
          <figure>
            <Image src={filipinasImage} alt="filipinas" />
          </figure>
          <h4 class="mt-10">Filipinas</h4>
        </div>
        <div class="absolute w-full left-[100%] overflow-hidden">
          <figure>
            <Image src={italiaImage} alt="italia" />
          </figure>
          <h4 class="mt-10">Italia</h4>
        </div>
        <div class="absolute w-full left-[100%] overflow-hidden">
          <figure>
            <Image src={egiptoImage} alt="egipto" />
          </figure>
          <h4 class="mt-10">Egipto</h4>
        </div>
        <div class="absolute w-full left-[100%] overflow-hidden">
          <figure>
            <Image src={japonImage} alt="japon" />
          </figure>
          <h4 class="mt-10">Japon</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="w-screen h-screen"></div>
</>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/all";

  const allAdventures =
    document.querySelectorAll<HTMLElement>(".adventures>div");
  const adventureTitles =
    document.querySelectorAll<HTMLElement>(".adventures>div>h4");

  const timeline = gsap.timeline();

  allAdventures?.forEach((_, index, elements) => {
    const isLastElement = index === elements.length - 1;
    if (isLastElement) return;
    const nextElement = elements[index + 1];

    const tween = gsap
      .timeline()
      .to(
        adventureTitles[index],
        {
          opacity: 0,
          duration: 1,
        },
        0,
      )
      .to(nextElement, {
        xPercent: -100,
        duration: 1,
        ease: "none",
      })
      .fromTo(
        adventureTitles[index + 1],
        {
          yPercent: 200,
        },
        {
          yPercent: 0,
          duration: 1,
        },
      );

    timeline.add(tween);
  });

  ScrollTrigger.create({
    trigger: ".adventures-section",
    start: "top 10%",
    end: `bottom`,
    pin: true,
    animation: timeline,
    scrub: 1,
    invalidateOnRefresh: true,
    markers: false,
  });
</script>
