---
import WhiteRoseSVG from "../../assets/svg/whiteRose.svg";
import { useI18n } from "../../utils/i18n";
import { Image } from "astro:assets";
const { t } = useI18n(Astro.url);
---

<section
  class="bank-details-section relative flex items-center flex-col mb-10 pt-32 md:pb-32 overflow-hidden"
>
  <div
    class="mb-20 sm:mb-40 text-2xl content-wrapper text-gold-500 sm:px-32 text-pretty tracking-wider"
  >
    <p>
      {t("bankAccount.text")}
    </p>
  </div>
  <div class="relative content-wrapper flex items-center flex-col my-20 p-0">
    <div
      class="relative w-full px-0 sm:px-0 md:px-10 lg:px-40 flex flex-col items-center"
    >
      <div
        class="absolute z-0 sm:z-10 rotate-180 -top-20 -right-20 sm:rotate-0 sm:-top-8 sm:-left-16 md:-top-9 md:-left-10 lg:left-20 xl:-top-32 xl:left-10 w-[280px] md:w-[340px] xl:w-[500px]"
      >
        <Image src={WhiteRoseSVG} alt="" />
      </div>
      <div
        class="relative sm:h-auto bg-slate-200 flex w-full p-6 md:p-10 border-solid border-4 border-gold-500 text-gold-500 sm:justify-end"
      >
        <div class="lg:w-3/5 xl:w-3/5 text-nowrap">
          <h4 class="font-arizonia text-3xl">{t("bankAccount.title")}</h4>
          <p class="text-xl xl:text-3xl sm:tracking-widest mt-8">
            ES78 0081 1196 3600 0141 2445
          </p>
        </div>
      </div>
      <div
        class="relative sm:left-10 sm:-top-4 lg:left-10 lg:-top-4 xl:left-32 xl:-top-10 z-20 font-arizonia text-6xl sm:text-9xl xl:text-[12rem] tracking-widest text-gold-500"
      >
        {t("bankAccount.thanks")}
      </div>
    </div>
  </div>
</section>
