---
import Countdown from "../svelte/Countdown.svelte";
import Leaf from "../Leaf.astro";
---

<div
  class="countdown-section relative flex flex-col w-full justify-center items-center px-4"
>
  <div
    class="absolute -top-40 sm:-left-14 sm:-top-40 z-0 w-full flex justify-center items-center overflow-hidden"
  >
    <Leaf />
  </div>
  <div class="relative -top-10 md:-top-20 z-10 w-full max-w-[1040px]">
    <Countdown actualURL={Astro.url} client:load />
  </div>
</div>
