---

---

<footer class="bg-white w-full flex justify-center items-center pt-8 pb-8">
  <div class="content-wrapper text-center">
    <p>
      Designed & developed <span class="font-arizonia text-2xl">with love</span>
      by Héctor Jaraba
    </p>
  </div>
</footer>
