---
import { isProd } from "../utils/globals";
import Preloading from "./Preloading.astro";
import BankDetailsSection from "./sections/BankDetailsSection.astro";
import CountdownSection from "./sections/CountdownSection.astro";
import FoodSection from "./sections/FoodSection.astro";
import FooterSection from "./sections/FooterSection.astro";
import HeaderSection from "./sections/HeaderSection.astro";
import HeroSection from "./sections/HeroSection.astro";
import PlaceSection from "./sections/PlaceSection.astro";
import PlanSection from "./sections/PlanSection.astro";
import OurStorySection from "./sections/ourStorySection/OurStorySection.astro";
---

<>
  {isProd && <Preloading />}
  <div class="cursor cursor--small hidden md:block"></div>
  <canvas class="cursor cursor--canvas hidden md:block"></canvas>
  <HeaderSection />
  <HeroSection />
  <!-- <CountdownSection /> -->
  <PlaceSection />
  <PlanSection />
  <BankDetailsSection />
  <FoodSection />
  <OurStorySection />
  <FooterSection />
</>

<script>
  import { gsap, ScrollTrigger } from "../utils/animations";
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";

  let clientX = -100;
  let clientY = -100;
  const innerCursor = document.querySelector<HTMLElement>(".cursor--small");

  const initCursor = () => {
    // add listener to track the current mouse position
    document.addEventListener("mousemove", (e) => {
      clientX = e.clientX;
      clientY = e.clientY;
    });

    const render = () => {
      gsap.set(innerCursor, {
        x: clientX,
        y: clientY,
      });

      requestAnimationFrame(render);
    };
    requestAnimationFrame(render);
  };

  initCursor();

  const navbar = document.querySelector(".navbar-section>.navbar");
  const navBtn = document.getElementById("menu-toggle-btn");

  ScrollTrigger.create({
    start: "top -300",
    end: 99999,
    toggleClass: {
      className: "navbar--hide",
      targets: ".navbar-section>.navbar",
    },
    onUpdate: ({ direction }) => {
      if (navBtn?.classList.contains("active")) {
        return;
      }
      if (direction == -1) {
        gsap.to(navbar, { top: 16, duration: 0.5 });
      } else {
        gsap.to(navbar, { top: -50, duration: 1 });
      }
    },
  });

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#my-gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
    arrowPrev: false,
    arrowNext: false,
    counter: false,
    zoom: false,
  });
  lightbox.init();
</script>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1440px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }

  .cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
  }
  .cursor--small {
    width: 50px;
    height: 50px;
    left: -25px;
    top: -25px;
    border-radius: 50%;
    z-index: 11000;
    background: transparent;
    border: 1px solid goldenrod;
  }
  .cursor--canvas {
    width: 100vw;
    height: 100vh;
    z-index: 12000;
  }
</style>
