---
import "@fontsource-variable/lora";
import "@fontsource/arizonia";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="main-container">
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --background-white: #fdfdfd;
    --text-black: #333333;
    --text-gold: #ffedca;
    --accent-pink: #d5a6bd;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: "Lora Variable", sans-serif;
    background: var(--background-white);
    background-size: 224px;
    color: var(--text-black);
  }

  body {
    color: var(--text-black);
    overflow-x: hidden;
  }

  .is-loading {
    overflow: hidden;
    height: 100vh;
  }
</style>
